<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding data to user</title>
</head>
<body>
    <h1> This is the page to enter data to user</h1>
    <form action="/add" method="POST">
        Title: <input type="text" name="storyTitle"/> <br> <br>
        Description: <input type="text" name="storyDescription"/> <br> <br>
        Link: <input type="text" name="storyLink"/> <br> <br>
        Category: <input type="text" name="storyCategory"/> <br> <br>
        Image: <input type="file" name="storyImage"/> <br> <br>
        <input type="submit" value="SUBMIT"/> <br> <br>
        </form>
</body>
</html>